---
const year = new Date().getFullYear();
---

<footer class="bg-blue-600 text-white">
  <div
    class="flex flex-col items-center md:flex-row md:justify-between px-8 py-4"
  >
    <div>
      <p>Todos los derechos reservados © {year}, The Condor Vision.</p>
    </div>

    <div class="flex gap-4 mt-4 md:mt-0">
      <a
        href="https://facebook.com"
        target="_blank"
        class="hover:text-blue-400"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M22.675 0H1.325C.593 0 0 .593 0 1.325v21.351C0 23.406.593 24 1.325 24H12.81v-9.294H9.692v-3.622h3.118V8.412c0-3.1 1.893-4.792 4.658-4.792 1.325 0 2.464.098 2.797.143v3.24l-1.918.001c-1.504 0-1.795.715-1.795 1.763v2.311h3.586l-.467 3.622h-3.12V24h6.116c.73 0 1.324-.593 1.324-1.325V1.325C24 .593 23.406 0 22.675 0z"
          ></path>
        </svg>
      </a>
      <a href="https://twitter.com" target="_blank" class="hover:text-blue-400">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M24 4.557a9.93 9.93 0 01-2.828.775A4.93 4.93 0 0023.337 3c-.957.568-2.017.978-3.15 1.2A4.922 4.922 0 0016.616 3c-2.724 0-4.932 2.207-4.932 4.932 0 .387.044.763.126 1.124-4.1-.206-7.725-2.172-10.157-5.162-.426.732-.67 1.582-.67 2.486 0 1.714.87 3.232 2.188 4.12a4.924 4.924 0 01-2.228-.616v.061c0 2.395 1.704 4.392 3.97 4.847-.414.113-.85.173-1.299.173-.318 0-.626-.03-.928-.088.626 1.955 2.444 3.376 4.6 3.416a9.866 9.866 0 01-6.1 2.105c-.398 0-.79-.023-1.176-.068A13.945 13.945 0 007.545 21c9.057 0 14.01-7.513 14.01-14.015 0-.214-.005-.428-.014-.64A10.005 10.005 0 0024 4.557z"
          ></path>
        </svg>
      </a>
      <a
        href="https://instagram.com"
        target="_blank"
        class="hover:text-blue-400"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          fill="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            d="M12 2.163c3.204 0 3.584.012 4.85.07 1.366.062 2.633.344 3.608 1.319.975.975 1.257 2.242 1.319 3.608.058 1.266.07 1.646.07 4.84 0 3.204-.012 3.584-.07 4.85-.062 1.366-.344 2.633-1.319 3.608-.975.975-2.242 1.257-3.608 1.319-1.266.058-1.646.07-4.85.07-3.204 0-3.584-.012-4.85-.07-1.366-.062-2.633-.344-3.608-1.319-.975-.975-1.257-2.242-1.319-3.608-.058-1.266-.07-1.646-.07-4.85 0-3.204.012-3.584.07-4.85.062-1.366.344-2.633 1.319-3.608.975-.975 2.242-1.257 3.608-1.319 1.266-.058 1.646-.07 4.85-.07m0-2.163C8.737 0 8.332.012 7.053.07 5.775.129 4.676.347 3.727.843c-.95.496-1.79 1.244-2.732 2.186-.943.943-1.691 1.782-2.186 2.732C-.347 7.676-.129 8.775-.07 10.053-.012 11.332 0 11.737 0 12.5c0 .763.012 1.167.07 2.447.059 1.278.277 2.377.843 3.326.496.95 1.244 1.79 2.186 2.732.943.943 1.782 1.691 2.732 2.186.949.496 2.048.715 3.326.773 1.28.058 1.684.07 2.447.07.763 0 1.167-.012 2.447-.07 1.278-.059 2.377-.277 3.326-.773.95-.496 1.79-1.244 2.732-2.186.943-.943 1.691-1.782 2.186-2.732.496-.949.715-2.048.773-3.326.058-1.28.07-1.684.07-2.447 0-.763-.012-1.167-.07-2.447-.059-1.278-.277-2.377-.773-3.326-.496-.95-1.244-1.79-2.186-2.732-.943-.943-1.782-1.691-2.732-2.186-.949-.496-2.048-.715-3.326-.773-1.28-.058-1.684-.07-2.447-.07z"
          ></path>
        </svg>
      </a>
    </div>

    <div>
      <a
        href="https://ecommetrica.com"
        target="_blank"
        class="hover:underline hover:text-blue-400 font-semibold"
      >
        Desarrollado por Ecommetrica
      </a>
    </div>
  </div>

  <hr class="border-gray-300 w-auto border" />

  <div class="text-center px-4 py-4 md:px-12 md:py-12">
    <p>Políticas de privacidad | Términos de servicio</p>
  </div>
</footer>
