<div class="h-screen flex justify-center items-center">
  <video class="w-screen h-screen object-cover" autoplay muted loop>
    <source src="/video.mp4" type="video/mp4" />
    Video.
  </video>
</div>
